<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-0">Inventory Movement</h5>
                <small class="text-muted">number of Vendors {{vendors.length}}</small>
            </div>
            <div *ngIf="toggleView === 'viewAll'">
                <button class="btn btn-light border btn-sm me-2" [disabled]="selectedProducts.length===0?true:false" (click)="openCartModal()">
                    <i class="bi bi-cart-fill"></i> Move to Cart
                </button>
                <button class="btn btn-light border btn-sm me-2"  (click)="downloadAll()">
                    <i class="bi bi-download"></i> Download All
                </button>
                <button class="btn btn-light border btn-sm me-2" (click)="openImportModal()">
                    <i class="bi bi-upload"></i> Import
                </button>
                <button class="btn btn-violet btn-sm" (click)="openAddProductModal()">
                    <i class="bi bi-plus-circle"></i> Add Product
                </button>
            </div>
        </div>

        <!-- Toggle and Filters -->
        <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
            <div class="btn-group rounded">
                <button [ngClass]="toggleView==='viewAll'?class1:class2"
                    (click)="toggleViewSelection('viewAll')"> View All</button>
                <button [ngClass]="toggleView==='cart'?class1:class2" (click)="toggleViewSelection('cart')">
                    Cart</button>
            </div>
            <div class="d-flex align-items-center">
                <input type="text" class="form-control me-2" style="height: 80%; width: 350px;" placeholder="Search..."
                    (input)="onSearchChange($event)" />

                <div *ngIf="toggleView === 'viewAll'" class="dropdown">
                    <button class="btn btn-light border btn-sm d-flex align-items-center gap-2" type="button"
                        id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-funnel"></i> Filter
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- Loop through columns and create checkboxes -->
                        <li *ngFor="let column of filterColumns">
                            <div class="form-check">
                                <!-- Directly bind change event to update selectedFilterColumns -->
                                <input class="form-check-input" type="checkbox" [value]="column.value"
                                    (change)="toggleFilterSelection($event, column.value)">
                                <label class="form-check-label">{{ column.label }}</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *ngIf="toggleView === 'cart'" class="dropdown">
                    <button class="btn btn-light border btn-sm d-flex align-items-center gap-2" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-funnel"></i> Filter
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- Loop through columns and create checkboxes -->
                        <li *ngFor="let column of cartFilterColumns">
                            <div class="form-check">
                                <!-- Directly bind change event to update selectedFilterColumns -->
                                <input class="form-check-input" type="checkbox" [value]="column.value"
                                    (change)="toggleFilterSelection($event, column.value)">
                                <label class="form-check-label">{{ column.label }}</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <!-- Table -->
        <table class="table table-hover">
            <thead *ngIf="toggleView === 'viewAll'">
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Product Name</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Vendors</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="toggleView === 'viewAll'">
                <tr *ngFor="let product of products">
                    <td><input type="checkbox" (change)="toggleProductSelection($event, product)" /></td>
                    <td>
                        <img [src]="product.product_image" alt="" class="rounded-circle me-2" />
                        <span *ngIf="!isEditMode(product)">{{ product.product_name }}</span>
                        <input *ngIf="isEditMode(product)" [(ngModel)]="product.product_name" class="form-control" />
                    </td>
                    <td>
                        <span *ngIf="!isEditMode(product)" class="badge"
                            [ngStyle]="{ color: ((product.quantity_in_stock > 0) && (product.status !='inactive')) ? 'green' : 'red' }">
                            {{((product.quantity_in_stock > 0) && (product.status !='inactive')) ? 'Available' : ((product.quantity_in_stock ==0) ?'Out of stock':'currently unavailable' )}}
                        </span>
                        <select *ngIf="isEditMode(product)" [(ngModel)]="product.status" class="form-control">
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </td>
                    <td>
                        <span *ngIf="!isEditMode(product)">{{ product.category_name }}</span>
                        <select *ngIf="isEditMode(product)" [(ngModel)]="product.category" class="form-control">
                            <option *ngFor="let category of categories" [ngValue]="category">
                                {{ category.category_name }}
                            </option>
                        </select>

                    </td>
                    <td>
                        <span *ngIf="!isEditMode(product)">
                            <span *ngFor="let vendor of product.vendors.slice(0, 2)">
                                <span class="badge bg-light text-dark">{{ vendor.vendor_name }}</span>
                            </span>
                            <!-- Display remaining count if there are more than 2 vendors -->
                            <span *ngIf="product.vendors.length > 2" class="badge bg-light text-dark" [attr.title]="getRemainingVendorsTooltip(product.vendors)">
                                +{{ product.vendors.length - 2 }} 
                            </span>
                        </span>
                        <div *ngIf="isEditMode(product)">
                            <div>
                                <h6>Select Vendors</h6>
                                <div *ngFor="let vendor of vendors">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [value]="vendor.vendor_id"
                                            [checked]="isVendor(vendor, product)"
                                            (change)="toggleVendorSelection($event, vendor, product)">
                                        <label class="form-check-label">
                                            {{ vendor.vendor_name }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                    <td>
                        <span *ngIf="!isEditMode(product)">{{ product.quantity_in_stock }}</span>
                        <input *ngIf="isEditMode(product)" [(ngModel)]="product.quantity_in_stock"
                            class="form-control" />
                    </td>
                    <td>
                        <span *ngIf="!isEditMode(product)">{{ product.unit_price }}</span>
                        <input *ngIf="isEditMode(product)" [(ngModel)]="product.unit_price" class="form-control" />
                    </td>
                    <td>
                        <button *ngIf="!isEditMode(product)" class="btn btn-light btn-sm" (click)="editProduct(product)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button *ngIf="isEditMode(product)" class="btn btn-light btn-sm" (click)="saveProduct(product)">
                            <i class="bi bi-check"></i> Save
                        </button>
                        <button *ngIf="isEditMode(product)" class="btn btn-light btn-sm" (click)="cancelEdit(product)">
                            <i class="bi bi-x"></i> Cancel
                        </button>
                        <button *ngIf="!isEditMode(product)" class="btn btn-light btn-sm"
                            (click)="deleteProduct(product)">
                            <i class="bi bi-trash"></i>
                        </button>
                        <button *ngIf="!isEditMode(product)" class="btn btn-light btn-sm me-1"
                            (click)="downloadProductPDF(product)">
                            <i class="bi bi-download"></i>
                        </button>

                    </td>
                </tr>
            </tbody>
            <thead *ngIf="toggleView === 'cart'">
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Vendor</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="toggleView === 'cart'">
                <tr *ngFor="let item of filterCart()">
                    <td><img [src]="item.product_image" alt="" class="rounded-circle me-2" />
                        <span>{{ item.product_name }}</span>
                    </td>
                    <td>{{ item.category }}</td>
                    <td>

                        <span class="badge bg-light text-dark">{{ item.vendor_name
                            }}</span>

                    </td>
                    <td>
                        <button class="btn btn-light btn-sm" (click)="adjustQuantityinCart(item, -1)">-</button>
                        <span class="quantity-display">{{ item.quantity }}</span> <!-- Quantity displayed in between -->
                        <button class="btn btn-light btn-sm" (click)="adjustQuantityinCart(item, 1)">+</button>
                    </td>
                    <td>
                        <button class="btn btn-light btn-sm" (click)="removeFromCart(item)"><i
                                class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>



        <!-- Pagination -->
        <div *ngIf="toggleView === 'viewAll' && totalPages > 1" class="d-flex justify-content-between align-items-center mt-4">
            <!-- Previous Button on the Left -->
            <button class="btn btn-outline-secondary btn-sm" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
                <span>&#8592;</span> Previous
            </button>
        
            <!-- Page Numbers in the Middle -->
            <div class="d-flex justify-content-center">
                <ng-container *ngFor="let page of getPageNumbers()">
                    <button class="btn btn-sm" (click)="goToPage(page)" [class.active]="page === currentPage">
                        {{ page }}
                    </button>
                </ng-container>
            </div>
        
            <!-- Next Button on the Right -->
            <button class="btn btn-outline-secondary btn-sm" (click)="goToPage(currentPage + 1)"
                [disabled]="currentPage === totalPages">
                Next <span>&#8594;</span>
            </button>
        </div>

    </div>
</div>


<!-- modals -->
<!-- Modal for Cart -->
<div class="modal" tabindex="-1" *ngIf="isCartModalOpen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cart</h5>
                <button type="button" class="btn-close" (click)="closeCartModal()"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Created At</th>
                            <th>Category</th>
                            <th>Vendors</th>
                            <th>Quantity</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItems">
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.created_at }}</td>
                            <td>{{ item.category_name }}</td>
                            <td>
                                <select [(ngModel)]="item.selected_vendor_name">
                                    <option *ngFor="let vendor of item.vendors" [value]="vendor.vendor_name">
                                        {{ vendor.vendor_name }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-light btn-sm" (click)="adjustQuantity(item, -1)">-</button>
                                <span class="quantity-display">{{ item.quantity }}</span>
                                <!-- Quantity displayed in between -->
                                <button class="btn btn-light btn-sm" (click)="adjustQuantity(item, 1)">+</button>
                            </td>

                            <td>
                                <button class="btn btn-danger btn-sm" (click)="removeProductCart(item)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="closeCartModal()">Cancel</button>
                <button class="btn btn-primary" (click)="moveToCart()">Move</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Product Modal -->
<div class="modal" tabindex="-1" *ngIf="isAddProductModalOpen">
    <div class="modal-dialog p-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Product</h5>
                <button type="button" class="btn-close" (click)="closeAddProductModal()"></button>
            </div>
            <div class="modal-body">
                <app-add-product *ngIf="isAddProductModalOpen" [categories]="categories" [vendors]="vendors" 
                    (closeProductModal)="closeAddProductModal()">
                </app-add-product>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Import -->
<div class="modal" id="importModal" tabindex="-1" *ngIf="isImportModalOpen">
    <div class="modal-dialog i-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileUploadModalLabel">Import file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeImportModal()"></button>
            </div>
            <div class="modal-body">
                <div class="border p-3 text-center" (dragover)="onDragOver($event)" (dragleave)="onDragLeave()"
                    (drop)="onDrop($event)">
                    <i class="bi bi-cloud-upload-fill cloud-icon mb-3" style="font-size: 48px; color: #007bff;"></i>
                    <!-- Cloud Upload Icon -->
                    <p class="text-muted mb-3">Drag and drop a file here or</p>
                    <input type="file" id="fileInput" class="filein form-control mb-3" (change)="onFileChange($event)">
                    <button class="btn btn-success" (click)="uploadData()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>