<!-- Modal for File Upload -->
<div class="modal" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" *ngIf="openFileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fileUploadModalLabel">Upload Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>            </div>
            <div class="modal-body">
                <div class="border p-3 text-center">
                    <input type="file" id="fileInput" class="form-control mb-3" (change)="onFileSelected($event)"
                        accept="image/*">
                    <p class="text-muted">Or drag and drop a file here</p>
                    <button class="btn btn-success" (click)="uploadFile()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>