.btn-violet {
    background-color: darkviolet;
    color: white;
    border: none;
}
.modal {
    display: block !important;
    /* Forces the modal to be visible */
    z-index: 1050;
    /* Ensure the modal is on top */
}