.btn-violet {
    background-color: darkviolet;
    color: white;
    border: none;
}
.modal {
    display: block !important;
    /* Forces the modal to be visible */
    z-index: 1050;
        background-color: rgba(0, 0, 0, 0.5);
    /* Ensure the modal is on top */
}

/* app.component.css */
.viewport {
    display: block;
    height: 400px;
    width: 100%;
    /* Adjust the height as necessary */
    overflow-y: auto;
}
/* Adding hover effect on table rows */
tbody tr:hover {
    background-color: #f1f1f1;
    /* Subtle background change on hover */
    cursor: pointer;
    /* Change cursor on hover */
}

/* Optional: Larger checkboxes for better user interaction */
input[type="checkbox"] {
    transform: scale(1.2);
    /* Make the checkbox slightly larger */
    cursor: pointer;
}

/* src/app/chat/chat.component.css */
/* Styling for the floating chat button */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkviolet;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.floating-btn:hover {
    background-color: darkviolet;
    transform: scale(1.1);
}

/* Styling for the chat container */
.chat-container {
    position: relative;
    height: 10%;
    width: 100%;
}

.chat-window {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
}

.chat-window .header {
    padding: 10px;
    background-color: darkviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-window .header h2 {
    margin: 0;
    font-size: 16px;
}

.chat-window .close-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.messages-container {
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

/* Styling for individual chat messages */
.message-box {
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message-content {
    font-size: 14px;
}

.message-content strong {
    color: #007bff;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.input-container input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.input-container button {
    background-color: darkviolet;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}